body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: white;
    background: #202731;
}

section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    padding: 100px 20vw;
}

.blue {
    background: #008cff;
}

.wave-1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave-1 svg {
    position: relative;
    display: block;
    width: calc(116% + 1.3px);
    height: 231px;
}

.wave-1 .shape-fill {
    fill: #00CBFF;
}

.wave-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave-2 svg {
    position: relative;
    display: block;
    width: calc(135% + 1.3px);
    height: 340px;
}

.wave-2 .shape-fill {
    fill: #008CFF;
}

.dark-blue {
    background: #006dc7;
}

.wave-3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave-3 svg {
    position: relative;
    display: block;
    width: calc(116% + 1.3px);
    height: 231px;
}

.wave-3 .shape-fill {
    fill: #006dc7;
}


.purple {
    background: #1300b9;
}

.wave-4 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave-4 svg {
    position: relative;
    display: block;
    width: calc(116% + 1.3px);
    height: 231px;
}

.wave-4 .shape-fill {
    fill: #1300b9;
}


.light-purple {
    background: #431af4;
}

.wave-5 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave-5 svg {
    position: relative;
    display: block;
    width: calc(116% + 1.3px);
    height: 231px;
}

.wave-5 .shape-fill {
    fill: #431af4;
}

.pink {
    background: #6200ff;
}

.wave-6 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave-6 svg {
    position: relative;
    display: block;
    width: calc(116% + 1.3px);
    height: 231px;
}

.wave-6 .shape-fill {
    fill: #6200ff;
}


.double-pink {
    background: #ff0077;
}

.wave-7 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave-7 svg {
    position: relative;
    display: block;
    width: calc(116% + 1.3px);
    height: 231px;
}

.wave-7 .shape-fill {
    fill: #ff0077;
}


.red {
    background: #ff0037;
}

.wave-8 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave-8 svg {
    position: relative;
    display: block;
    width: calc(116% + 1.3px);
    height: 231px;
}

.wave-8 .shape-fill {
    fill: #ff0037;
}

.orange {
    background: #570a00;
}